body {
    background-color: var(--background);
    width: 90vw;
    margin: auto;
}

button {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

button:hover {
    background-color: var(--hover);
    box-shadow: 0 3px 3px var(--shadow);
    cursor: pointer;
}

header {
    background-color: white;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 3px 3px var(--shadow);
    margin: 1rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

header h1 {
    margin-bottom: 1rem;
}

header a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

header a:hover {
    color: var(--hover);
}

.active {
    color: var(--hover);
}

.btn-active {
    background-color: var(--hover);
}

.container {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 3px var(--shadow);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.graph-container {
    height: 800px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (min-width: 768px) {
    body {
        width: 80vw;
    }
    header {
        text-align: start;
    }
    .graph-container {
        height: 400px;
    }
}
